.theme-light {
    --color-black: #1F2328;
    --color-white: #ffffff;
    --color-gray-1: #f6f8fa;
    --color-gray-2: #eaeef2;
    --color-gray-3: #d0d7de;
    --color-gray-4: #afb8c1;
    --color-gray-5: #8c959f;
    --color-gray-6: #6e7781;
    --color-gray-7: #57606a;
    --color-gray-8: #424a53;
    --color-gray-9: #32383f;
    --color-gray-10: #24292f;
    --color-blue-1: #ddf4ff;
    --color-blue-2: #b6e3ff;
    --color-blue-3: #80ccff;
    --color-blue-4: #54aeff;
    --color-blue-5: #218bff;
    --color-blue-6: #0969da;
    --color-blue-7: #0550ae;
    --color-blue-8: #033d8b;
    --color-blue-9: #0a3069;
    --color-blue-10: #002155;
    --color-green-1: #dafbe1;
    --color-green-2: #aceebb;
    --color-green-3: #6fdd8b;
    --color-green-4: #4ac26b;
    --color-green-5: #2da44e;
    --color-green-6: #1a7f37;
    --color-green-7: #116329;
    --color-green-8: #044f1e;
    --color-green-9: #003d16;
    --color-green-10: #002d11;
    --color-yellow-1: #fff8c5;
    --color-yellow-2: #fae17d;
    --color-yellow-3: #eac54f;
    --color-yellow-4: #d4a72c;
    --color-yellow-5: #bf8700;
    --color-yellow-6: #9a6700;
    --color-yellow-7: #7d4e00;
    --color-yellow-8: #633c01;
    --color-yellow-9: #4d2d00;
    --color-yellow-10: #3b2300;
    --color-orange-1: #fff1e5;
    --color-orange-2: #ffd8b5;
    --color-orange-3: #ffb77c;
    --color-orange-4: #fb8f44;
    --color-orange-5: #e16f24;
    --color-orange-6: #bc4c00;
    --color-orange-7: #953800;
    --color-orange-8: #762c00;
    --color-orange-9: #5c2200;
    --color-orange-10: #471700;
    --color-red-1: #ffebe9;
    --color-red-2: #ffcecb;
    --color-red-3: #ffaba8;
    --color-red-4: #ff8182;
    --color-red-5: #fa4549;
    --color-red-6: #cf222e;
    --color-red-7: #a40e26;
    --color-red-8: #82071e;
    --color-red-9: #660018;
    --color-red-10: #4c0014;
    --color-purple-1: #fbefff;
    --color-purple-2: #ecd8ff;
    --color-purple-3: #d8b9ff;
    --color-purple-4: #c297ff;
    --color-purple-5: #a475f9;
    --color-purple-6: #8250df;
    --color-purple-7: #6639ba;
    --color-purple-8: #512a97;
    --color-purple-9: #3e1f79;
    --color-purple-10: #2e1461;
    --color-pink-1: #ffeff7;
    --color-pink-2: #ffd3eb;
    --color-pink-3: #ffadda;
    --color-pink-4: #ff80c8;
    --color-pink-5: #e85aad;
    --color-pink-6: #bf3989;
    --color-pink-7: #99286e;
    --color-pink-8: #772057;
    --color-pink-9: #611347;
    --color-pink-10: #4d0336;
    --color-coral-1: #fff0eb;
    --color-coral-2: #ffd6cc;
    --color-coral-3: #ffb4a1;
    --color-coral-4: #fd8c73;
    --color-coral-5: #ec6547;
    --color-coral-6: #c4432b;
    --color-coral-7: #9e2f1c;
    --color-coral-8: #801f0f;
    --color-coral-9: #691105;
    --color-coral-10: #510901;
}


.theme-dark {
    --color-black: #010409;
    --color-white: #ffffff;
    --color-gray-1: #f0f6fc;
    --color-gray-2: #c9d1d9;
    --color-gray-3: #b1bac4;
    --color-gray-4: #8b949e;
    --color-gray-5: #6e7681;
    --color-gray-6: #484f58;
    --color-gray-7: #30363d;
    --color-gray-8: #21262d;
    --color-gray-9: #161b22;
    --color-gray-10: #0d1117;
    --color-blue-1: #cae8ff;
    --color-blue-2: #a5d6ff;
    --color-blue-3: #79c0ff;
    --color-blue-4: #58a6ff;
    --color-blue-5: #388bfd;
    --color-blue-6: #1f6feb;
    --color-blue-7: #1158c7;
    --color-blue-8: #0d419d;
    --color-blue-9: #0c2d6b;
    --color-blue-10: #051d4d;
    --color-green-1: #aff5b4;
    --color-green-2: #7ee787;
    --color-green-3: #56d364;
    --color-green-4: #3fb950;
    --color-green-5: #2ea043;
    --color-green-6: #238636;
    --color-green-7: #196c2e;
    --color-green-8: #0f5323;
    --color-green-9: #033a16;
    --color-green-10: #04260f;
    --color-yellow-1: #f8e3a1;
    --color-yellow-2: #f2cc60;
    --color-yellow-3: #e3b341;
    --color-yellow-4: #d29922;
    --color-yellow-5: #bb8009;
    --color-yellow-6: #9e6a03;
    --color-yellow-7: #845306;
    --color-yellow-8: #693e00;
    --color-yellow-9: #4b2900;
    --color-yellow-10: #341a00;
    --color-orange-1: #ffdfb6;
    --color-orange-2: #ffc680;
    --color-orange-3: #ffa657;
    --color-orange-4: #f0883e;
    --color-orange-5: #db6d28;
    --color-orange-6: #bd561d;
    --color-orange-7: #9b4215;
    --color-orange-8: #762d0a;
    --color-orange-9: #5a1e02;
    --color-orange-10: #3d1300;
    --color-red-1: #ffdcd7;
    --color-red-2: #ffc1ba;
    --color-red-3: #ffa198;
    --color-red-4: #ff7b72;
    --color-red-5: #f85149;
    --color-red-6: #da3633;
    --color-red-7: #b62324;
    --color-red-8: #8e1519;
    --color-red-9: #67060c;
    --color-red-10: #490202;
    --color-purple-1: #eddeff;
    --color-purple-2: #e2c5ff;
    --color-purple-3: #d2a8ff;
    --color-purple-4: #bc8cff;
    --color-purple-5: #a371f7;
    --color-purple-6: #8957e5;
    --color-purple-7: #6e40c9;
    --color-purple-8: #553098;
    --color-purple-9: #3c1e70;
    --color-purple-10: #271052;
    --color-pink-1: #ffdaec;
    --color-pink-2: #ffbedd;
    --color-pink-3: #ff9bce;
    --color-pink-4: #f778ba;
    --color-pink-5: #db61a2;
    --color-pink-6: #bf4b8a;
    --color-pink-7: #9e3670;
    --color-pink-8: #7d2457;
    --color-pink-9: #5e103e;
    --color-pink-10: #42062a;
    --color-coral-1: #ffddd2;
    --color-coral-2: #ffc2b2;
    --color-coral-3: #ffa28b;
    --color-coral-4: #f78166;
    --color-coral-5: #ea6045;
    --color-coral-6: #cf462d;
    --color-coral-7: #ac3220;
    --color-coral-8: #872012;
    --color-coral-9: #640d04;
    --color-coral-10: #460701;

    
}